         TITLE 'Common Control Blocks'                                          
         PUSH  ON                                                               
         USING (CP),(CV)                                                        
         POP   PRINT                                                            
*                                                                               
CV       RECORD BEGIN                                                           
         COPY  CV                                                               
         END                                                                    
*                                                                               
         COPY  SCANCB                                                           
*                                                                               
CP       RECORD BEGIN                                                           
         COPY  CP                                                               
         END                                                                    
*                                                                               
         COPY  TTYPE                                                            
